<div class="row header">
    <div class="col-2">картинка</div>
    <div class="offset-5 col-5 row header-links">
        <a class="col" href="#">Home</a>
        <a class="col" href="#">Contacts</a>
        <a class="col" href="#">Avia</a>
        <a class="col" href="#">Medical</a>
        <a class="col" href="#">Trading</a>
    </div>
</div>

<style>
    .header {
        height: 120px;
        border: 1px solid black;
    }
    .header-links a {
        align-self: center;
        text-decoration: none;
    }
</style>